.note:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}
.title {
  text-transform: capitalize;
  margin: 0px;
}
.description:first-letter {
  text-transform: uppercase;
}
.timestamp {
  font-size: 12px;
}

.noteControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note{
    padding-top: 16px;
}
